# Server Configuration
NODE_ENV=development
PORT=3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/nautilus-todo-api

# JWT Configuration
JWT_SECRET=my_super_secret_jwt_key
JWT_EXPIRE=24h

# Application
API_VERSION=v1